*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.row{
    max-width: 1200px;
    margin: 0 auto;
}
/*------------------------------------START HEADER --------------------------------------------*/
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgb(80, 80, 80,0.1),rgb(80, 80, 80,0.1)), url(imgs/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
#nav{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    color: white;
    transition: 0.2s;
}
#logo:hover{
    color:#f80156;
}
#nav ul{
    display: flex; 
}
#nav ul li{
    list-style-type: none;
}
#nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    padding-bottom: 10px;
    transition: 0.2s;
    border-bottom: 3px  transparent;
    
}
#nav ul li a:hover,#nav ul li a:focus{
    border-bottom:3px solid  #f80156;
}
#header-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#header-text h1{
    font-size: 4em;
    color: white;
}
#header-text p{
    font-size: 0.9em;
    margin-bottom: 30px;
    color: white;
}
.btn{
    position: relative;
    text-decoration: none;
    padding:10px 30px;
    color: white;
    border:2px solid #f80156;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 2px;
    background-color: #f80156;

}
/*------------------------------------END HEADER --------------------------------------------*/
/*------------------------------------START ABOUT US --------------------------------------------*/
#about{
    padding:100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#about-text{
    width: 48%;
}
#about-img{
    width: 580px;
    height: 350px;
}
#about-text h2{
    font-size: 2em;
    font-weight: 400;
    
}
#about-text h2 span{
    font-size: 1.4em;
    font-weight: 700;
    color:#f80156;
}
#about-text p{
    margin-bottom: 20px;
}

/*------------------------------------END ABOUT US --------------------------------------------*/
/*------------------------------------START MENU --------------------------------------------*/
#menu-section{
    padding-bottom: 100px;
    background-color: #f5f5f5;
}
.upper-all{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 60px;
    
}
.upper-all-h{
    font-size: 2em;
    font-weight: 400;

}
.upper-all-h span{
    font-size: 1.4em;
    font-weight: 700;
    color:#f80156;
}
#lower-menu{
    display:flex;
    flex-direction: column;
    
}
#row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 340px;
    margin: 20px 20px;
    background-color: white;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    transition: 0.3s;

}

.card img{
    width: 100%;
}
.card:hover{
    transform: scale(1.08);
}


/*------------------------------------END MENU --------------------------------------------*/
/*------------------------------------START EXPERT --------------------------------------------*/
#expert-section{
    padding-bottom: 100px;
    background-color: #f5f5f5;
}


#lower-expert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-expert{
    width: 237px;
    margin: 20px 15px;
}
.card-expert img{
    width:100%;
    margin-bottom:5px;
}

/*------------------------------------END EXPERT --------------------------------------------*/
/*------------------------------------START CUSTOMERS --------------------------------------------*/
#customers-section{
    padding-bottom: 120px;
    background-color: #f5f5f5;
    background-image:url(imgs/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.customers-upper h5{
    color: white;
}
.customers-upper h5 span{
    font-size: 1.4em;
    font-weight: 700;
    color:#f80156;
}
.customers-upper p{
    color: white;
}
#lower-customers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-customers{
    width: 331px;
    margin: 20px 20px;
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 40px;
}
.card-customers img{
    width: 30%;
    margin-bottom: 20px;
    border-radius: 50%;
}
.card-customers p{
    padding: 0 30px;
    font-style: italic;
    margin-bottom: 20px;
}
.fam{
    font-weight: 800;
    color:#f80156 ;
}
/*------------------------------------END CUSTOMERS --------------------------------------------*/
/*------------------------------------START CONTACT --------------------------------------------*/
#contact-section{
    padding: 80px 0;
    background-image: url(imgs/bg3.jpg);
    background-size: cover;
    background-position: center;
}
.upper-contact{
    margin-bottom:60px;
}
#lower-contact{
    display: flex;
}
.card-contact{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
    background-color: white;
    padding: 60px 40px;
    box-shadow: 0 15px 50px rgba(0, 0, 0,0.1);
    border-radius: 40px;
}
.card-contact p{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}
.card-contact input{
    margin-bottom: 20px;
    padding: 10px 10px;
    outline:0;
}
.card-contact textarea{
    padding: 5px 0px 30px 10px;
    margin-bottom: 20px;
    outline: none;
    resize: none;
}
.card-contact button{
    color:black;
    background-color: white;
    width: 30%;
    outline: none;
    
}
.card-contact button:hover{
    width: 33%;
}

/*------------------------------------END CONTACT --------------------------------------------*/
/*------------------------------------START SOCIAL --------------------------------------------*/
#social-section{
    width: 100%;
}
#icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#icons ul li{
    color: white;
    padding: 10px 0;
    list-style-type: none;
    margin: 0 30px 20px 30px;
    line-height: 5px;
}
#icons ul li ion-icon{
    transform: scale(1.7);
    color:#f80156 ;
    cursor: pointer;
    transition: 0.3s;
}
#icons ul li ion-icon:hover{
    transform: rotate(30deg) scale(1.7);
}
/*------------------------------------END SOCIAL --------------------------------------------*/

@media(max-width:930px){
    #nav ul {
        display: none;
    }
    #logo{
        margin-left: 40px;
    }
    #about-text {
        width: 90%;
    }
    #about-img {
        width: 90%;
        height: 300px;
    }
    #about {
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20px;
    }
    #lower-contact {
        justify-content: center;
    }
    
}
@media(max-width:550px){
    #logo{
        margin-left: 10px;
    }
    #about{
        padding-left: 10px;
    }
}
.card img:hover{
    transform: rotateY(-180deg);
}